.icons{
    text-decoration: none;
    i {
        font-size: 17px;
        padding: 2px 5px;
        margin: 2px 5px;
        border-radius: 5px;
        color: black;
        background-color: aqua;
    }
}